.container {
  flex: display;
  flex-direction: row;
  width: 400px;
  height: 400px;
  margin: auto;
  font-size: large;
  color: white;
}

.simon-button {
  width:200px;
  height:200px;
}

.simon-button.red {
  background:red;
  opacity: 0.7;
}

.simon-button.green {
  background:green;
  opacity: 0.7;
}

.simon-button.blue {
  background:blue;
  opacity: 0.7;
}

.simon-button.yellow {
  background:yellow;
  opacity: 0.7;
}

.simon-button.blue.shine{
  opacity: 1;
}
.simon-button.red.shine{
  opacity: 1;
}
.simon-button.green.shine{
  opacity: 1;
}
.simon-button.yellow.shine{
  opacity: 1;
}